.content {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
}

.landing-grid-style {
  margin-top: 14px;
}

.landing-background {
  background: url('/images/bg.png') no-repeat center center fixed;
  background-size: cover;
  flex: 1;
  padding-bottom: 14px;
}

.landing-header-style {
  margin-top: 25px !important;
  color: white !important;
  font-weight: bold !important;
}

.landing-logo-style {
  margin: 0 !important;
}

.nav-menu-style {
  margin-bottom: 0 !important;
  background-color: black !important;
  padding-bottom: 10px !important;
  font-size: 20px !important;
  font-family: Helvetica, serif !important;
  margin-left: 0 !important;
  box-shadow: none !important;
}

.nav-item-style {
  padding: 3px !important;
  margin: 10px !important;
}

.nav-icon-margin {
  margin: 2px !important;
}

.nav-menu-item-style {
  padding: 10px !important;
}

.footer-background {
  background-color: #000000;
  margin-top: 14px;
}

.footer-contact-style {
  color: #FFFFFF;
}

.add-club {
  font-family: Helvetica, serif;
}

.edit-club {
  font-family: Helvetica, serif;
}

.club-admin {
  font-family: Helvetica, serif;
}

.club-master-admin {
  font-family: Helvetica, serif;
}

.list-clubs {
  font-family: Helvetica, serif;
}

.user {
  font-family: Helvetica, serif;
}

.user-image {
  margin-top: 10px;
  margin-bottom: 60px;
}

.user-clubs {
  margin-bottom: 30px;
}